<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit Your Chat !! <% fchat._id %></h2>
    <p>This chat was send from <b> <%= fchat.from %></b> to  <b><%= fchat.to %> </b></p>
    <form action="/chats/<%= fchat._id%>?_method=PUT" method="post">
     <textarea name="msg" id="" rows="5" cols="20" ><%= fchat.msg %></textarea>
     <br/><br/>
     <button id="editbtn">Edit</button>
    </form>
    <script src="/script.js"></script>
</body>
</html>